.container {
  min-height: 100vh;
  background: linear-gradient(to bottom, #eff6ff, #dbeafe);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
}

.formContainer {
  max-width: 28rem;
  width: 100%;
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.title {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.875rem;
  font-weight: 800;
  color: #111827;
}

.error {
  color: #ef4444;
  font-size: 0.875rem;
  text-align: center;
  margin-top: 0.5rem;
}

.form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  font-size: 0.875rem;
}

.button {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  background-color: #2563eb;
  color: white;
  font-size: 0.875rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.google-button {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  background-color: #71a661;
  color: white;
  font-size: 0.875rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.google-button:hover {
  background-color: #19c709;
}

.loginText {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.875rem;
  color: #4b5563;
}

.loginLink {
  color: #2563eb;
  text-decoration: none;
  font-weight: 500;
}
